// Body
$body-bg: #f8fafc;

// Colors
$white: #fff;
$black: #000;

$light-gray: #e1e1e1;
$med-gray: #b0b0b0;
$med-gray-alt: #929292;
$med-gray-alt-2: #484848;
$dark-gray: #383838;
$darker-gray: #2a2a2a;

$pink: #e33862;
$purple: #4b3a61;
$purple-med: #6b3f66;
$purple-light: #72466d;


$light-blue: #28a0c5;
$med-blue: #3d4b66;
$dark-blue: #006388;

$red: rgb(212, 62, 35);
$red-light: #d95942;

$status-danger: red;
$status-disabled: #7b7b7b;

$custom-teal: #1c999f;
$custom-orange: #fe7f0a;

$dark-green-blue: #165f7c;
$light-green-blue: #2793bc;


$gradient-orange-top: #fb8418;
$gradient-orange-middle: #e97913;
$gradient-orange-bottom: #c9650b;

$gradient-green-top: #01e600;
$gradient-green-middle: #04c800;
$gradient-green-bottom: #07ae00;

$off-yellow: #f9ed65;

$dark-teal: #008080;

// Gradients
$gradient-gray: linear-gradient( 0deg, rgba(185,185,185,0.90196) 0%, rgba(255,255,255,0.94902) 100%);

// Fonts
$helvetica: "Helvetica", Arial, sans-serif;
$helvetica-oblique: "Helvetica Oblique", Arial, sans-serif;
$gotham-bold: "Gotham Bold", Arial, sans-serif;
$gotham-bold-italic: "Gotham Bold Italic", Arial, sans-serif;
$gotham-medium: "Gotham Medium", Arial, sans-serif;
$gotham-book: "Gotham Book", Arial, sans-serif;
$lato: "Lato", Arial, sans-serif;;

$font-size-base: 1rem;
$line-height-base: 1.6;
