body {
	font-family: $helvetica;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $gotham-bold;
}

h1 {
	font-size: 40px;
	text-transform: uppercase;
	margin-bottom: 40px;
}

h2 {
	font-size: 32px;
	margin-bottom: 40px;
}

a {
	text-decoration: none;
	color: $pink;

	&:hover {
		text-decoration: none;
		color: darken($pink, 10%);
	}
}
